body{
    background-image: url("../img/foto4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffcc00;
    margin-bottom: 1 rem;
    background-repeat: no-repeat;
    text-align: center;
}

h1{
  font-style: italic;

}

p{
    line-height: 1.6;
    color:white
}