@font-face {
    font-family: 'Century Gothic';
    src: url("../fonts/centurygothic.ttf");
}
body{
background-color: beige;
}

h2{
font-family:'Century Gothic';
font-size: 22px;
color: darkred;
text-align: center;
}

.img1{
    width:250px;
    height: 180px;
    border-style:outset;
    border-width: 2px;
    border-color: darkred;
    
}

.img2{
height: 250px;
width: 350px;
border-style: outset;
border-width: 2px;
border-color: darkred;
}

.center{
    text-align: center;
}