@font-face {
    font-family: 'Century Gothic';
    src: url("../fonts/centurygothic.ttf");
}
body{
    font-family: 'Century Gothic';
}
h1{
    text-align: center;
    color: #01164B;
}
table{
    margin: auto;
}
.celdaimg{
    border: 1px solid #01164B;
    background-color: #BEC9F6;
    padding: 10px;
}
.celdatext{
    background-color: #01164B;
    color: white;
    font-size: 25px;
    padding: 10px;
    width: 300px;
}
.img1{
    width: 330px;
    height: auto;
}
.img2{
    height: auto;
    width: 400px;
}
.izqabajo{
    vertical-align: bottom;
}
.derarriba{
    vertical-align: super;
    text-align: right;
}