@font-face {
    font-family: 'Nunito';
    src: url("Nunito.ttf");
}
body{
font-family: 'Nunito';
font-size: 20px;
color: #D67002;
background-size: 100%;
}
header{
    height: 400px;
    width: 100%;
    background-image: url("encabezado.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    color: white;
    background-color: #D67002;
    text-align: right;
    vertical-align: bottom;
}
ol{
    list-style-type: lower-alpha;
    list-style-position: inside;
    padding-left: 0%;
    margin-top: 0%;
}
.cuadrouno{
    width: 60%;
    height: 500px;
    text-align: justify;
    padding: 40px;
    border: 1px solid color#d67002;
}
.cuadrounovinculo{
    width: 25%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #d67002;
    color: white;
}
#cuadrodos{
    width: 40%;
    height: 500px;
    text-align: center;
    background-color: #D67002;
}
#imgtabla{
    height: 80%;
    width: 80%;
}
.colorboton{
    background-color: #D67002;
    color: white;
    font-size: 20px;
}
form{
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 40px;
    background-color: white;
    border: 1px solid color #d67002;
    
}
input{
width: 400px;
height: 40px;
margin-top: 5px;
}
textarea{
width: 400px;
height: 40px;
margin-top: 5px;
}
label{
width: 400px;
height: 40px;
margin-top: 5px;
}
select{
width: 400px;
height: 40px;
margin-top: 5px;
}
fieldset{
    width: 60%;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin:auto;
    border-color: #D67002;
}
table{
    margin: auto;
    border-color: #D67002;
    border-bottom-style: solid;
}
h2{
    margin-bottom: 0%;
}