*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Muli';
    src: url("../font/Muli-Regular.ttf");
}
body{
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fdf5e6;
    font-family: 'Muli';
}

#menu{
    position: relative;
    float:left;
    margin-top: 20px;
    margin-left: 30px;
    width: 350px;
    height: 200px;
    background-color: #fdf5e6;
    box-shadow: -5px -5px 15px black 
}
#contenedor{
    position: relative;
    float:left;    
    margin-top: 40px;
    width: 800px;
    height: 300px;
    background-color: #83737D;
    border-radius: 10px;
}
#pie{
        position: relative;
    float:left;
    margin-top: 60px;
    margin-left: 30px;
    width: 740px;
    height: 60px;
    background-color: #FDF5E6;
    color: black;
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
}
#encabezado{
    position: relative;
    float:left;    
    width: 500px;
    height: 60px;
    background-color: #83737d;
    border-radius: 10px;
    color:#fdf5e6 ;
}
#encabezado>h1{
    color: white;
    text-align: center;
    padding: 10px;
}
#lateral{
    position: relative;
    float:left;    
    margin-top: 20px;
    margin-left: 60px;
    width: 350px;
    text-align: justify;
    padding: 15px;
    color: #83737D;
}
img{
    margin-top: 50px;
    margin-left: 70px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
#menu>a{
    position: relative;
    float:left;
    width: 100%;
    height: 25%;
    text-decoration: none;
    color: #83737d;
    padding: 10px;
    border: 1px solid #83737D;
}
#menu>a:hover{
    border-radius: 0px 30px 0px 0px;
    color: #fdf5e6;
    background-color: #83737d;
}
#instagram>a{
     text-decoration: none;
    color: #83737d;
    padding: 10px;
}
#instagram>a:hover{
    color: #fdf5e6;
    background-color: #83737d;
}