body{
    background-color: #CC0099;
    font-family: "Poppins";
    color: #FFFFCC;
    text-align: center;
}
.pder{
    font-size: 26px;
}

.pizq{
    font-size: 26px;
}

.img1{
    width: 100px;
    height: 150;
    margin-left: 10px;
}
.img2{
    width: 100px;
    height: 150;
    margin-left: 10px;
}

.izquierda{
    text-align: left;
}

.derecha{
    text-align: right;
}