@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body{
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #0FADCA;
    margin-right: 400px;
}

h2{
    height: 80px;
    width: 200px;
    padding-top: 40px;
    /*border-width: 1px;
    border-style: solid;
    border-color: #0FADCA;*/
    border:1px solid #0FADCA;
    text-align: center;
    margin-left: 300px;
}
a{
    color: palevioletred;
}
.derechacent{
    text-align: right;
}
.ultp{
    margin-left: 400px;
}
