@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body{
    background-color: #E3E4DE;
    font-family: "Montserrat";
    color: #444;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
}
.azul{
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.img{
    width: 250px;
    height: 250;
}
