body{
    background-color: #f0f4f8;
    color: #222;
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}

hr{
    height: 2px;
    color: #ccc;
}
a{
    color: #e63946;
}
h2{
    color: #2a4d8f;
}
#rojo{
    color: red;
}