* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
#menu {
  font-family: Calibri;
  font-size: 20px;
}
#menu p {
  margin:0px;
  padding:0px;
}
#menu a {
  display: inline-block; /*Cambiar por block e inline-block y ver que ocurre*/
  padding: 3px;
  width: 160px;
  background-color: #f7f8e8;
  border-bottom: 1px solid #eeeeee;
  text-align:center;
}
#menu a:link, #menu a:visited {
  color: #336699;
  text-decoration: none;
}
#menu a:hover {
  background-color: #336699;
  color: #ffffff;
}