* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
    font-family: "Mulish", sans-serif;
    font-size:18px;
    background-color:beige;
}

#caja1 {
	position: relative;
	float:left;
    width: 300px;
	height: 150px;	
    background-color:darkkhaki; 
    text-align: center; 
}

#caja2 {
	position: absolute;
	top:50px;
	left: 400px;
	width: 300px;
	height: 150px;
	background-color:cadetblue;
	text-align:right;
	z-index: 1;

}

#caja3 {
	position: relative;	
	float:left;
    width: 300px;
	height: 150px;
    background-color:#ffc; 

}

#caja4 {
	position: relative;	
	float:left;
    width: 900px;
	height: 150px;
    background-color:bisque; 
}
