@font-face {
    font-family: 'Rethink Sans';
    src: url("../font/RethinkSans-VariableFont_wght.ttf");
}
body{
    background-color: #728eaa;
    font-family: 'Rethink Sans';
}
form{
    padding: 60px 30px;
    width: 500px;
    border: 1px solid color #e1e1e1;
    background-color: #c9d0de;
}
h1{
    font-size: 35px;
    color: #445668;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-align: center;
}
fieldset{
    padding: 10px;
}
label{
    margin-top: 11px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #445668;
    text-align: right;
    width: 95px;
    text-transform: uppercase;
    text-decoration: underline;
}
input{
    height: 35px;
    width: 260px;
    padding: 5px 10px 0px 20px;
    margin: 0px 0px 20px 0px;
    background-color: #728EAA;
    color: #a1b2c3;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
}
textarea{
    width: 260px;
    height: 170px;
    padding: 12px 20px 0px 20px;
    margin: 0px 0px 20px 0px;
    background-color: #728EAA;
    border: 5px none ;
    font-size: 16px;
    color: #f2f2f2;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #f2f2f2; 
}

button{
    width: 185px;
    height: 52px;
    padding: 10px 15px;
    color: #a1b2c3;
    background-color: #445668;
    border: 1px solid color #556f8c;
}