form{
    text-align: center;
    background-color: #e8c6c6;
    color: #C03;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px;
    width: 800px;
    border-radius: 5px;
    margin: auto;
}
.center{
    text-align: center;
}
fieldset{
    width: 750px;
    padding: 12px;
    border: 1px solid #eee;
}
label{
    color: #555555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 150px;
}
input{
    height: 30px;
    width: 300px;
    padding: 5px 8px;
    border: 1px color #aaa;
    color: #888;
    font-size: 12px;
    padding-right: 30px;
}
button{
    padding: 9px 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
    font-weight: bold;
    border-style: none;
    border: 1px color #f1f1f1;
}
button:hover{
    color: #C03;
}
