body{
    text-align: center;
    color: cadetblue;
    font-family: 'Lato';
}
table{
    width: 500px;
    height: 300px;
    text-align: center;
    border-color: cadetblue;
    border-collapse: collapse;
    margin: auto;
}
tr,td{
    border: 1px solid cadetblue;
}
.tamaño{
width: 40%;
}
thead{
    background-color: cadetblue;
    color: azure;
    height: 50px;
}
